<div id="footer" class="container-fluid">
  <ul id="links">
    <li>
      <a id="link-github" href="https://github.com/MeowPiE" target="_blank">
        <span class="sr-only">github</span>
      </a>
    </li>
    <li>
      <a id="link-rss" href="/feed.xml" target="_blank">
        <span class="sr-only">rss</span>
      </a>
    </li>
  </ul>
  <ul id="footer-menu">
    <li>Theme designed by <a href="https://www.kakaocorp.com">Kakao</a></li>
  </ul>
  <p id="copyright">
    <a href="https://www.meowpie.kr">Copyright &copy; 2018 냥파이.</a>
    All rights reserved.
  </p>
</div>
